body {
  cursor: none;
}

.background {
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  width: 100%;
  /*cd nextheight: 100vh; /* Hace que el contenedor tenga la altura de la ventana */
}


.background1 {
  background-image: url('/peter-gargiulo-cGNCepznaV8-unsplash vertical.jpg');
}
  
.background2 {
  background-image: url('/wall-1217083_1920.jpg');
}